services:
  ros2_docker:
    container_name: ros2-docker
    build: ./
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
      - type: bind
        source: ${ROS_PROJECT_PATH}
        target: /home/student/ros2_ws/src
      - ros2_workspace:/home/student/ros2_ws
    environment:
      - DISPLAY=${DISPLAY}
    # network_mode: host
    # networks:
    #   - x11
    stdin_open: true
    tty: true
    privileged: true
    # devices:
    #   - /dev/dri:/dev/dri # For GPU acceleration??
# networks:
  # x11:

volumes:
  ros2_workspace:
